body	{
	text-align: center;
	background: url("http://www.desktopimages.org/pictures/2014/0424/1/fruits-berries-acai-berries-wallpaper-471169.jpg");
	background-size: cover;
	color: #EDD1A5

	}

h1	{
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	font-size: 400%
}

p  	{
	font-family: 'Croissant One', cursive;
	font-weight: bold;\
	font-size: 350%
}

#summary	{
	color: #D6FF46;
	font-weight: bold;
}

#slogan		{
	color: #D6FF46;
	font-weight: bolder;
	font-size: 150%

}	

hr	{
	width: 200px
}