body	{
	text-align: center;
	background: url("http://il6.picdn.net/shutterstock/videos/9156614/thumb/1.jpg");
	background-size: cover;
	color: #EDD1A5

	}

h1	{
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	font-size: 400%
}

p  	{
	font-family: 'Croissant One', cursive;
	font-weight: bold;\
	font-size: 350%
}

#summary	{
	
}

#slogan		{

	color: #ACFFC3
	font-weight: bolder;
	font-size: 150%

}	

hr	{
	width: 200px
}

nav	{
	font-family: 'Croissant One', cursive;
	font-weight: bold;
	color: white;
}

section	{
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	color: #A2DCF0;


}

